*.pptx
07.Exams/Exam 18.06.2017/P04_GalacticElections/~$. Galactic Elections_Условие (DOCX).docx
07.Exams/Exam 18.06.2017/P02_JansNotation/~$. Jan's Notation_Условие (DOCX).docx
07.Exams/Exam 18.06.2017/P03_XML/~$. XML Messenger_Условие (DOCX).docx
07.Exams/Exam 16.10.2016/P02_Rosetta/~$. Rosetta Stone.docx
